In [5]:

import pandas as pd
import numpy as np
path="C:\\Users\\sriram\\Downloads\\"
csv_file = "hccsv.csv"
json_file = "hcjson.json"
sql_file = "table13.csv"

In [43]:
data_csv = pd.read_csv(path+csv_file)
data_json = pd.read_json(path+json_file)
data_sql = pd.read_csv(path+sql_file, usecols = [0,1,2,3,4,5])

data = pd.merge(data_json,data_csv, on = ['State','Agency_name','Agency_type'])
data= pd.merge(data,data_sql, left_on = ['State','Agency_name','Agency_type'],right_on = ['State','Agency name','Agency type'])
data.head()

,Agency_name,Agency_type,Population,State,quarter_1,quarter_2,quarter_3,quarter_4,Ethnicity,Disability,Gender,Gender_Identity,Agency type,Agency name,Race,Religion,Sexual orientation
0,Florence,Cities,39481,Alabama,0,1,0,1,0,0,0,0,Cities,Florence,2,0,0
1,Hoover,Cities,84139,Alabama,0,1,0,0,0,0,0,0,Cities,Hoover,0,0,1
2,Prattville,Cities,35154,Alabama,1,0,1,0,0,0,0,0,Cities,Prattville,2,0,0
3,Tuscaloosa,Cities,94126,Alabama,0,0,1,0,0,0,0,0,Cities,Tuscaloosa,1,0,0
4,Anchorage,Cities,299455,Alaska,2,3,3,0,0,0,0,0,Cities,Anchorage,8,0,0

In [143]:
q1=data.groupby(['Agency_type'])['quarter_1','quarter_2','quarter_3','quarter_4'].sum()

In [145]:
q1_a=q1/data.shape[0]*100

In [146]:
q1_a

                           quarter_1  quarter_2  quarter_3  quarter_4
Agency_type
Cities                     56.064841  74.063723  73.951928  57.070989
Metropolitan Counties       8.440470  12.185579  12.353270  10.229178
Nonmetropolitan Counties    1.285634   1.844606   2.571269   2.012297
Other Agencies              0.558971   0.670766   0.838457   0.558971
State Police Agencies       1.062046   1.117943   1.062046   0.558971
Universities and Colleges   2.403577   1.956400   2.235886   2.962549

In [33]:
q1_index=q1.index
temp=q1.sum()
q1_b=np.argmax(temp)

In [34]:
q1_b

'quarter_3'

In [44]:
data.columns.values

array(['Agency_name', 'Agency_type', 'Population', 'State', 'quarter_1',
       'quarter_2', 'quarter_3', 'quarter_4', 'Ethnicity', 'Disability',
       'Gender', 'Gender_Identity', 'Agency type', 'Agency name', 'Race',
       'Religion', 'Sexual orientation'], dtype=object)

In [157]:
data[data.Agency_name=="Florence"]

,Agency_name,Agency_type,Population,State,quarter_1,quarter_2,quarter_3,quarter_4,Ethnicity,Disability,Gender,Gender_Identity,Agency type,Agency name,Race,Religion,Sexual orientation,is_disabled
0,Florence,Cities,39481,Alabama,0,1,0,1,0,0,0,0,Cities,Florence,2,0,0,0
544,Florence,Cities,31434,Kentucky,1,1,1,0,0,2,0,0,Cities,Florence,1,0,0,1

In [47]:
q2=data.groupby(['State'])['Religion'].max()

In [49]:
np.unique(data['Ethnicity'])

array([ 0,  1,  2,  3,  4,  5,  6,  8,  9, 10, 12, 14, 15, 17, 36], dtype=int64)

In [105]:
#x=pd.pivot_table(data[['State','Ethnicity']], index='State',columns='Ethnicity',aggfunc=len)
#x['Total']=np.sum(x,axis=1)
#for i in range(x.shape[0]):
#    Total=x.ix[i,15]
#    x.ix[i,:15]=x.ix[i,:15]/Total*100

In [122]:
q3=pd.DataFrame({'Population' : data.groupby(['State'])['Population'].sum()}).sort(['Population'], ascending=[True]).reset_index()
q3.head()

C:\Users\sriram\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

         State  Population
0      Wyoming       31884
1     Delaware       77814
2  Mississippi      115607
3      Vermont      132827
4         Iowa      199962

In [155]:
data['is_disabled']=data['Disability'].apply(lambda x: 1 if x!=0 else 0)
q4=data.groupby(['is_disabled'])['quarter_1','quarter_2','quarter_3','quarter_4'].sum()
q4_total=data[['quarter_1','quarter_2','quarter_3','quarter_4']].sum()
q4/q4_total*100

             quarter_1  quarter_2  quarter_3  quarter_4
is_disabled
0            84.547638  83.566646  79.867788   80.73115
1            15.452362  16.433354  20.132212   19.26885

In [156]:
q4_total

quarter_1    1249
quarter_2    1643
quarter_3    1664
quarter_4    1313
dtype: int64